header.page-header {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

small.disclaimer {
    display: block;
    margin-bottom: 1rem;
}

header.page-header h1 {
    margin-top: 0;
}

.modal.static {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
}

.table .list-inline{
    margin-bottom: 0;
}

.table .idea,
.table .timestamp {
    white-space: nowrap;
}

.table .idea {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 0;
}

.table input[type=checkbox] {
    margin: 0;
}

.idea-sender{
    line-height: 34px;
}
