<?php $this->extends('layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="modal static" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="<?= $_SERVER['REQUEST_URI'] ?>" class="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        Idea submitted on <?= $object['submitted'] ?>
                    </h4>
                </div>
                <div class="modal-body">
                    <?= $this->format_plain_text($object['idea']) ?>
                </div>
                <div class="modal-footer">
                    <?php if($object['cover_id']): ?>
                        <span class="pull-left idea-sender">Submitted by:
                            <?php $member = cover_get_member($object['cover_id']); ?>
                            <b>
                                <?= $this->html($member->voornaam) ?>
                                <?php if($member->tussenvoegsel): ?>
                                    <?= $this->html($member->tussenvoegsel) ?>
                                <?php endif; ?>
                                <?= $this->html($member->achternaam) ?>
                            </b>
                        </span>
                    <?php endif; ?>
                    <a href="/admin.php" class="btn btn-default" data-dismiss="modal">OK</a>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<?php $this->end() ?>
