<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <title>Idea Submission Station</title>
        <style type="text/css">
            html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }

            form {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: stretch;
                height: 100%;
            }

            textarea, button {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

            textarea {
                flex: 1 1 100%;
                font: 16px sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                margin: 0;
                padding: 16px;
                border: 0;
                resize: none;
            }

            textarea:focus {
                outline: none;
            }

            button {
                flex: 0 0 60px;
                display: block;
                background: #C8102E;
                border: none;
                border-top: 1px solid #ccc;
                cursor: pointer;
                color: white;
                font-size: 22px;
            }

            #admin-link,
            #admin-link:visited,
            #my-link,
            #my-link:visited {
                position: absolute;
                top: 0;
                right: 6rem;
                padding: 16px;
                color: #337ab7;
                font: 16px sans-serif;
                text-decoration: none;
            }

            #my-link,
            #my-link:visited {
                right: 0;
            }

            #admin-link:hover,
            #admin-link:focus,
            #my-link:hover,
            #my-link:focus {
                color: #23527c;
                text-decoration: underline;
            }

            #jippie {
                position: absolute;
                top: 10px;
                left: 0;
                right: 0;
                text-align: center;
                z-index: 10;
                font: 16px/64px sans-serif;
                background: black;
                background: rgba(0,0,0,0.8);
                color: white;
                opacity: 1.0;
            }

            #jippie.hidden {
                opacity: 0;
                -webkit-transition: opacity 500ms;
                -moz-transition: opacity 500ms;
                -o-transition: opacity 500ms;
                -ms-transition: opacity 500ms;
                transition: opacity 500ms;
            }

            .anonimity-checkbox{
                padding: 16px;
                font: 16px sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            }

            .anonimity-checkbox small{
                font-style: italic;
                display: block;
                margin-bottom: 10px;
                color: #606060;
            }
        </style>
    </head>
    <body>
        <?= !empty($message) ? $message : '' ?>
        <form method="POST" action="index.php">
            <textarea name="idea" placeholder="Type your idea here…" autofocus></textarea>
            <div class="anonimity-checkbox">
                <small>
                    Your Cover account is linked to the submitted ideas so that the Board can provide feedback.
                    <br />
                    Check the box below to submit your idea anonymously.
                </small>
                <input type="checkbox" name="anonymous" id="anonymous" value="1">
                <label for="anonymous">I would like my idea to be anonymous</label>
            </div>
            <button type="submit">Submit</button>
        </form>
        <a id="my-link" href="/my.php">My Ideas</a>
        <?php if (cover_session_in_committee(ADMIN_COMMITTEE)): ?>
            <a id="admin-link" href="/admin.php">Admin</a>
        <?php endif ?>
        <script>
            var message_el = document.getElementById('jippie');

            if (message_el) {
                // If the message is touched, make it disappear
                // and remove it from the DOM eventually
                var is_hiding = false;

                var hide = function() {
                    if (is_hiding)
                        return;

                    is_hiding = true;
                    message_el.className = 'hidden';

                    // Delay the removal of the dom node for the animation to finish
                    setTimeout(function() {
                        message_el.parentNode.removeChild(message_el);
                    }, 800);
                };

                // Hide it when clicked
                message_el.onclick = function(e) {
                    e.preventDefault();
                    hide();
                };

                // Automatically hide it after three seconds
                setTimeout(hide, 3000);
            }
        </script>
    </body>
</html>
