
<?php $this->extends('layout.phtml') ?>

<?php $this->begin('content') ?>
<div id="admin-page" class="container">
    <header class="page-header">
        <?php if (isset($_GET['filter']) && $_GET['filter'] === 'all'): ?>
            <h1>All ideas</h1>
            <a class="btn btn-default" href="/admin.php?view=list&filter=recent">New ideas</a>
        <?php else: ?>
            <h1>New ideas</h1>
            <a class="btn btn-default" href="/admin.php?view=list&filter=all">All ideas</a>
        <?php endif ?>
    </header>
    
    <form action="/admin.php?view=update" method="POST">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th><input id="toggle-all-ideas" type="checkbox"></th>
                    <th>Submitted</th>
                    <th>Idea</th>
                    <th class="text-right"></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($ideas as $idea): ?>
                    <?php $parts = preg_split("/\\r\\n|\\r|\\n/", $idea['idea'], 2); ?>
                    <tr>
                        <td>
                            <input class="toggle-idea" type="checkbox" name="ids[]" value="<?= $idea['id']?>">
                        </td>
                        <td class="timestamp"><?= $idea['submitted'] ?></td>
                        <td class="idea">
                            <?php if ($idea['archived'] == 1): ?>
                                <span class="label label-default">Archived</span>
                            <?php endif ?>
                            <?= $this->html($parts[0]) . (empty($parts[1]) ? '' : '…') ?>
                        </td>
                        <td class="text-right">
                            <a href="/admin.php?view=read&id=<?= $idea['id']?>" data-popup="modal">view</a>
                        </td>
                    </tr>
                <?php endforeach ?>
                <?php if (!$ideas): ?>
                    <tr><td colspan="4" class="text-muted text-center">No ideas found :(</td></tr>
                <?php endif ?>
            </tbody>
        </table>

        <div class="form-group text-right">
            <button id="button-copy" type="button" class="btn btn-default hidden">Copy TeXified</button>
            <button id="button-texify" type="submit" formaction="/texify.php" formmethod="GET" class="btn btn-default">TeXify selected</button>
            <?php if (!isset($_GET['filter']) || $_GET['filter'] !== 'all'): ?>
                <button type="submit" class="btn btn-primary">Archive selected</button>
            <?php endif ?>
        </div>
    </form>
    <div id="texified"></div>
</div>
<?php $this->end() ?>
