
<?php $this->extends('layout.phtml') ?>

<?php $this->begin('content') ?>
<div id="admin-page" class="container">
    <header class="page-header">
        <h1>My ideas</h1>
    </header>
    <small class="disclaimer"><i>Ideas you’ve submitted anonymously are not listed here.</i></small>
    <form action="/admin.php?view=update" method="POST">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Submitted</th>
                    <th>Idea</th>
                    <th class="text-right"></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($ideas as $idea): ?>
                    <?php $parts = preg_split("/\\r\\n|\\r|\\n/", $idea['idea'], 2); ?>
                    <tr>
                        <td class="timestamp"><?= $idea['submitted'] ?></td>
                        <td class="idea">
                            <?= $this->html($parts[0]) . (empty($parts[1]) ? '' : '…') ?>
                        </td>
                        <td class="text-right">
                            <a href="/my.php?view=read&id=<?= $idea['id']?>" data-popup="modal">view</a>
                        </td>
                    </tr>
                <?php endforeach ?>
                <?php if (!$ideas): ?>
                    <tr><td colspan="4" class="text-muted text-center">No ideas found :(</td></tr>
                <?php endif ?>
            </tbody>
        </table>
    </form>
</div>
<?php $this->end() ?>
