<?php $this->extends('layout.phtml') ?>

<?php $this->begin('content') ?>
<div class="modal static" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="<?= $_SERVER['REQUEST_URI'] ?>" class="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        My idea submitted on <?= $object['submitted'] ?>
                    </h4>
                </div>
                <div class="modal-body">
                    <?= $this->format_plain_text($object['idea']) ?>
                </div>
                <div class="modal-footer">
                    <a href="/my.php" class="btn btn-default" data-dismiss="modal">OK</a>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<?php $this->end() ?>
